
*.vsidx
VillaMon/.vs/VillaMon/CopilotIndices/0.2.1634.3922/CodeChunks.db-wal
VillaMon/.vs/VillaMon/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
VillaMon/.vs/VillaMon/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
*.vsidx
*.db-shm
VillaMon/.vs/VillaMon/v17/.suo
*.cache
*.user
VillaMon/.vs/VillaMon/v17/.suo
*.dll
*.BuildWithSkipAnalyzers
