<nav class="text-center py-3">
    <ul>
        <li>
            <NavLink href="villas" class="px-3 py-2">Villas</NavLink>
        </li>
        <li>
            <NavLink href="bookings" class="px-3 py-2">Bookings</NavLink>
        </li>
    </ul>
</nav>
